
{% include "header.html" %}

{% if current_user.is_admin %}
    <h1>
        User list <a style="color: red;">(for admin user only)</a>
    </h1>

    {% include "popup.html" %}


    <form action="", method="POST">
        
        Username:
        <select name="username">
            {% for u in users %}
                <option>{{u.username}}</option>
            {% endfor %}
        </select>

        Action:
        <select name="action">
            {% for a in action %}
                <option>{{a}}</option>
            {% endfor %}
        </select>


        <input type="submit" value="confirm" >

    </form>



    <a href="create_user">create users</a>


{% else %}
    <meta http-equiv = "refresh" content = "0; url = err_page.html" />

{% endif %}